body {
      background-color: #f8f8f8;
      font-family: Montserrat, Helvetica, sans-serif;
    }

    #title {
      background-color: #f8f8f8;
      /* Black background color */
      position: fixed;
      /* Make it stick/fixed */
      top: 0;
      /* Stay on top */
      width: 100%;
      /* Full width */
      transition: top 0.3s;
      /* Transition effect when sliding down (and up) */
      padding-top: 10px;
      padding-bottom: 10px;
      color: #F8F8F8;
      font-weight: bold;
      font-size: 35px;
      font-family: Montserrat;
      text-align: center;
      /* margin-right: auto; */
      /* border-bottom:  */
    }
    .nyctreemap path:hover {
      fill:red !important;
      
    }
    .StatenIsland:hover {
      fill: red !important;
    }
    .boroughBtn:focus {
      background-color: #333;
      padding-top: 20px;
    }
    #container {
      margin-top: 80px;
      display: flex;
    }

    #nycmap {
      display: inline-block;
    }

    #map {
      /* stroke: #fff; */
      /* stroke-width: .5; */
      /* stroke-dasharray: 1; */
      fill: grey;
    }


    