body {
      background-color: white;
      font-family: Arial, Helvetica, sans-serif;
      min-width: 1250px;
    }
    .axis path,
    .axis line {
      fill: white;
      stroke: #000;
    }
   
    path.domain {
      stroke: none;
    }
   
    .y .tick line {
      stroke: #ddd;
    }
    #barDiv {
        max-width: 1000px;
        width: 1000px;
        overflow-x: scroll;
    }
    #title {
      background-color: #f8f8f8;
      /* Black background color */
      position: fixed;
      /* Make it stick/fixed */
      top: 0;
      /* Stay on top */
      width: 100%;
      /* Full width */
      transition: top 0.3s;
      /* Transition effect when sliding down (and up) */
      padding-top: 10px;
      padding-bottom: 10px;
      color: #F8F8F8;
      font-weight: bold;
      font-size: 35px;
      font-family: Montserrat;
      text-align: center;
      /* margin-right: auto; */
      /* border-bottom:  */
    }
    .nyctreemap path:hover {
      fill:#82acff !important;
      
    }

    .boroughBtn:focus {
      background-color: #333;
      padding-top: 20px;
    }
    #container {
      margin-top: 80px;
      display: flex;
    }

    #nycmap {
      /* display: inline-block; */
      margin-left: auto;
      margin-right: auto;
    }

    #map {
      /* stroke: #fff; */
      /* stroke-width: .5; */
      /* stroke-dasharray: 1; */
      fill: grey;
    }
    /* .hoverinfo{
      margin: 10px;
      background-color: rgb(128, 89, 7);
      color: #F8F8F8;
      border-radius: 5px;
    } */


    